<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sf.dao.RecordSfResponseRouteMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.shunfeng.model.RecordSfResponseRoute">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="mail_no" jdbcType="VARCHAR" property="mailNo" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime" />
    <result column="accept_address" jdbcType="VARCHAR" property="acceptAddress" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="opcode" jdbcType="VARCHAR" property="opcode" />
  </resultMap>
</mapper>