<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordBuildingBaseDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordBuildingBaseData">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="structure" jdbcType="VARCHAR" property="structure" />
    <result column="layers" jdbcType="BIGINT" property="layers" />
    <result column="built_up_area" jdbcType="BIGINT" property="builtUpArea" />
    <result column="lighting_mode" jdbcType="VARCHAR" property="lightingMode" />
    <result column="lighting_system" jdbcType="VARCHAR" property="lightingSystem" />
    <result column="lighting_lamps" jdbcType="VARCHAR" property="lightingLamps" />
  </resultMap>
</mapper>