<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordAntiNoiseFacilitiesDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordAntiNoiseFacilitiesData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_office_id" jdbcType="BIGINT" property="companyOfficeId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="noise_source" jdbcType="VARCHAR" property="noiseSource" />
    <result column="noise_protection_facilities" jdbcType="VARCHAR" property="noiseProtectionFacilities" />
    <result column="operation_and_maintenance" jdbcType="VARCHAR" property="operationAndMaintenance" />
  </resultMap>
</mapper>