<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.RecordEquipmentDataMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.RecordEquipmentData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="officd_id" jdbcType="BIGINT" property="officdId" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="epuipment_number" jdbcType="BIGINT" property="epuipmentNumber" />
  </resultMap>
</mapper>