<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdht.disease.sys.dao.SysCompanyMapper">
  <resultMap id="BaseResultMap" type="com.xdht.disease.sys.model.SysCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="national_economic_industry" jdbcType="VARCHAR" property="nationalEconomicIndustry" />
    <result column="company_nature" jdbcType="VARCHAR" property="companyNature" />
    <result column="industrial_disease_category" jdbcType="VARCHAR" property="industrialDiseaseCategory" />
    <result column="belong_to_jurisdiction" jdbcType="VARCHAR" property="belongToJurisdiction" />
    <result column="economic_type" jdbcType="VARCHAR" property="economicType" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="fax_phone" jdbcType="VARCHAR" property="faxPhone" />
    <result column="legal_representative" jdbcType="VARCHAR" property="legalRepresentative" />
    <result column="contact_userName" jdbcType="VARCHAR" property="contactUsername" />
    <result column="registered_address" jdbcType="VARCHAR" property="registeredAddress" />
    <result column="actual_operate_address" jdbcType="VARCHAR" property="actualOperateAddress" />
    <result column="company_url" jdbcType="VARCHAR" property="companyUrl" />
    <result column="establish_date" jdbcType="DATE" property="establishDate" />
    <result column="production _scale" jdbcType="VARCHAR" property="production Scale" />
    <result column="main_products" jdbcType="VARCHAR" property="mainProducts" />
    <result column="main_raw_materials" jdbcType="VARCHAR" property="mainRawMaterials" />
    <result column="occupational_hazard_factors" jdbcType="VARCHAR" property="occupationalHazardFactors" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
</mapper>